/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    /* background-image:url("../background.png"); */
    background-image: linear-gradient(#0e2729, #30757d);
    background-attachment: fixed;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
    position: fixed;
    top: 0;
    background-color: #205055;
    width: 100%;
    left: 0;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
}

header img{
    height: 90px;
}

header,
#rightHeader,
#rightHeader ul,
#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#about,
#resources {
    align-items: normal;
    margin-top: 50px;
}

#rightHeader ul {
    list-style: none;
    font-size: 20px;
}

#rightHeader ul li a {
    color: white;
    text-decoration: none;
}

#rightHeader ul li:hover {
    text-decoration: underline;
    cursor: pointer;

}

header>span {
    font-size: 20px;
    padding-left: 20px;
}

#rightHeader button {
    height: 30px;
    width: 80px;
    border-radius: 25px;
    background-color: #0e2729;
    color: white;
    border-color: white;
}

#rightHeader button a {
    color: white;
    text-decoration: none;
}

#rightHeader {
    padding-right: 20px;
}

#rightHeader button:hover {
    cursor: pointer;
    background-color: #30757d;
}


main {
    margin: 10% 0;
    font-size: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

 input {
     border: 1px solid #ccc;
     border-radius: 5px;
     padding: 8px;
     margin-bottom: 10px;
     width: 100%;

 }

#submitButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #205055;
    border-radius: 5px;
    border: 2px solid white;
}

form section{
    position: relative;
}

form i {
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    color: grey;
    padding-top: 2%;
    
}