/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    /* background-image:url("../background.png"); */
    background-image: linear-gradient(#0e2729, #30757d);
    background-attachment: fixed;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
    position: fixed;
    top: 0;
    background-color: #205055;
    width: 100%;
    left: 0;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
}

header img {
    height: 90px;
}

header,
#rightHeader,
#rightHeader ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}



#rightHeader ul {
    list-style: none;
    font-size: 20px;
}

#rightHeader ul li a {
    color: white;
    text-decoration: none;
}

#rightHeader ul li:hover {
    text-decoration: underline;
    cursor: pointer;

}

header>span {
    font-size: 20px;
    padding-left: 20px;
}

#rightHeader button {
    height: 30px;
    width: 80px;
    border-radius: 25px;
    background-color: #0e2729;
    color: white;
    border-color: white;
}

#rightHeader button a {
    color: white;
    text-decoration: none;
}

#rightHeader {
    padding-right: 20px;
}

#rightHeader button:hover {
    cursor: pointer;
    background-color: #30757d;
}

main{
    margin: 10% 0;
    font-size: 20px;
}

main h1{
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

/* Style the form labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style the form input fields */
input,
textarea, #instructor, #nameData {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

/* Style the submit button */
.formButtom {
    background-color: #fff;
    color: #30757d;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.formButtom:hover {
    background-color: #eee;
}

.contentContainer{
    display: flex;
    justify-content: space-around;
}

.innerContent{
    width: 40%;
}

.contentContainer h2{
    text-align: center;
}

#defaultInfo{
    text-align: center;
}
