@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: LabGrotesque, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: white;
}

body{
  background-image: linear-gradient(#0e2729, #30757d);
  background-attachment: fixed;
}